<!DOCTYPE html>
 {% extends "sales_orders_app/base.html" %}
  {% block body_block %}
    <div class="container">
      <div class="jumbotrone">
        <h1>Please Login</h1>
        <form  action="{% url 'sales_orders_app:user_login' %}" method="post">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" plaseholder="Enter Username:">
          <label for="password">Enter password:</label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">

        </form>
      </div>

    </div>
  {% endblock %}
